---
cni:
  exclusive: false
ipv4:
  enabled: true
ipv6:
  enabled: true
ipam:
  mode: cluster-pool
  clusterPoolIPv4PodCIDRList:
    - 10.160.0.0/12
  clusterPoolIPv4MaskSize: 24
  clusterPoolIPv6PodCIDRList:
    - "fd00:cbe:0::/56"
  clusterPoolIPv6MaskSize: 64
encryption:
  enabled: true
  type: wireguard
dashboards:
  enabled: true
prometheus:
  enabled: true
  serviceMonitor:
    enabled: true
envoy:
  prometheus:
    enabled: true
    serviceMonitor:
      enabled: true
operator:
  prometheus:
    enabled: true
    serviceMonitor:
      enabled: true
