---
server:
  controllers:
    main:
      containers:
        main:
          image:
            tag: release
          env:
            DB_HOSTNAME: immichdb-rw
            DB_DATABASE_NAME: immich
            DB_USERNAME:
              valueFrom:
                secretKeyRef:
                  name: immich-pg-user
                  key: username
            DB_PASSWORD:
              valueFrom:
                secretKeyRef:
                  name: immich-pg-user
                  key: password

valkey:
  enabled: true

immich:
  metrics:
    enabled: true
  persistence:
    library:
      existingClaim: immich-nfs-library-pvc
