---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
spec:
  destination:
    namespace: cert-manager
    server: https://kubernetes.default.svc
  source:
    path: cert-manager
    repoURL: https://git.raft.lutris.house/the_raft/kubernetes.raft
    targetRevision: HEAD
  sources: []
  project: system
  syncPolicy:
    syncOptions:
      - ServerSideApply=true
