---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: immich
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: immich
  syncPolicy:
    syncOptions:
      - ServerSideApply=true
  sources:
    - repoURL: https://github.com/immich-app/immich-charts
      path: charts/immich
      targetRevision: immich-0.10.3
      helm:
        values: |-
          server:
            controllers:
              main:
                containers:
                  main:
                    image:
                      tag: release
                    env:
                      DB_HOSTNAME: immichdb-rw
                      DB_DATABASE_NAME: immich
                      DB_USERNAME:
                        valueFrom:
                          secretKeyRef:
                            name: immich-pg-user
                            key: username
                      DB_PASSWORD:
                        valueFrom:
                          secretKeyRef:
                            name: immich-pg-user
                            key: password

          valkey:
            enabled: true

          immich:
            metrics:
              enabled: true
            persistence:
              library:
                existingClaim: immich-nfs-library-pvc
    - repoURL: https://git.raft.lutris.house/the_raft/kubernetes.raft
      path: immich
      targetRevision: HEAD
      ref: values
